[submit]
        action = rebase if necessary
[access "refs/heads/*"]
        owner = group Marc-Antoine "keruspe" Perennou
        read = group Exherbo-github-CleverCloud-replication
        read = group Marc-Antoine "keruspe" Perennou
        abandon = group Marc-Antoine "keruspe" Perennou
        create = group Marc-Antoine "keruspe" Perennou
        forgeAuthor = group Marc-Antoine "keruspe" Perennou
        forgeCommitter = group Marc-Antoine "keruspe" Perennou
        forgeServerAsCommitter = group Marc-Antoine "keruspe" Perennou
        push = group Marc-Antoine "keruspe" Perennou
        pushMerge = group Marc-Antoine "keruspe" Perennou
        pushTag = group Marc-Antoine "keruspe" Perennou
        pushSignedTag = group Marc-Antoine "keruspe" Perennou
        label-Code-Review = -2..+2 group Marc-Antoine "keruspe" Perennou
        labelAs-Code-Review = -2..+2 group Marc-Antoine "keruspe" Perennou
        rebase = group Marc-Antoine "keruspe" Perennou
        removeReviewer = group Marc-Antoine "keruspe" Perennou
        submit = group Marc-Antoine "keruspe" Perennou
        viewDrafts = group Marc-Antoine "keruspe" Perennou
        editTopicName = group Marc-Antoine "keruspe" Perennou
        deleteDrafts = group Marc-Antoine "keruspe" Perennou
        publishDrafts = group Marc-Antoine "keruspe" Perennou
