[submit]
        action = rebase if necessary
[access "refs/heads/*"]
        owner = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        read = group Exherbo-github-CleverCloud.git-replication
        read = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        abandon = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        create = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        forgeAuthor = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        forgeCommitter = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        forgeServerAsCommitter = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        push = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        pushMerge = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        pushTag = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        pushSignedTag = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        label-Code-Review = -2..+2 group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        labelAs-Code-Review = -2..+2 group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        rebase = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        removeReviewer = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        submit = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        viewDrafts = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        editTopicName = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        deleteDrafts = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
        publishDrafts = group REPO_OWNER=Marc-Antoine "keruspe" Perennou
